$background: #a1b1c9;

.heading {
  text-transform: uppercase;
  text-align: center;
  max-width: 320px;
}

.card {
  max-width: 1440px;
  max-height: max-content;
  margin: 50px auto;
}

.card__container {
  grid-row: 2/10;
  grid-column: 2/12;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  background: $background;
  img {
    max-width: 400px;
    border-radius: 10px;
  }
  p {
    text-align: center;
  }
}
